# Celery broker URL (Can be derived if not specified)
# mu_bulk_CELERY_BROKER_URL=redis://localhost:6379/0

# Celery result backend (Can be derived if not specified)
# mu_bulk_CELERY_RESULT_BACKEND=redis://localhost:6379/0

# --------------------------------- #
# |        BULK MICROSERVICE      | #
# --------------------------------- #

## hostname for which OTHER SERVICES
## can find this service
mu_bulk_ms_HOSTNAME="mu_bulk_ms"

## port that the BULK MS service listens to
mu_bulk_ms_INTERNAL_PORT=8000

## port that the BULK MS service listens to
mu_bulk_ms_EXTERNAL_PORT=8000


# --------------------------------- #
# |           DASHBOARD           | #
# --------------------------------- #

## hostname for which OTHER SERVICES
## can find this service
mu_bulk_dashboard_HOSTNAME="mu_bulk_dashboard"

## port that the DASHBOARD listens to
mu_bulk_dashboard_INTERNAL_PORT=5555

## Port to be accessed from HOST machine
mu_bulk_dashboard_EXTERNAL_PORT=5555


# --------------------------------- #
# |        RESULT BACKEND         | #
# --------------------------------- #


## hostname for which OTHER SERVICES
## can find this service
mu_bulk_rb_HOSTNAME="mu_bulk_rb"

## port that the RESULT BACKEND listens to
mu_bulk_rb_INTERNAL_PORT=6379


# --------------------------------- #
# |             BROKER            | #
# --------------------------------- #


# ## hostname for which OTHER SERVICES
# ## can find this service
# mu_bulk_bkr_HOSTNAME="mu_bulk_bkr"

# ## port that the BROKER listens to
# mu_bulk_bkr_INTERNAL_PORT=5672
